.logout {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.mensae th, .mensae td {
    white-space: nowrap;
}

.mensae th:nth-child(2), .mensae td:nth-child(2){
    width: 100%;
    white-space: normal;
}

.price-options {
    margin-bottom: 10px;
}

.mensa-overview .alert {
    padding: 10px;
}

.d-inline {
    display: inline;
}

.nav-tabs li.active form {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs li.active form input.btn-link {
    color: inherit;
}

.nav-tabs li.active form input.btn-link:focus, .nav-tabs li.active form input.btn-link:hover {
    text-decoration: none;
}