<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ng-container *ngIf="!page || page === 0; else dateRange">
            Mensae in de komende 2 weken
          </ng-container>
          <ng-template #dateRange>
            Mensae tussen {{ getDateForPage(page * 2, dayOfWeek.Monday) | date:'EEEE d MMM HH:mm' }} en {{ getDateForPage((page * 2) + 2, dayOfWeek.Sunday) | date:'EEEE d MMM HH:mm'}}
          </ng-template>
        </div>

        <div class="card-body">
          <table class="table responsive-table mensae">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Beschrijving</th>
                    <th>Prijs</th>
                    <th>Inschrijvingen</th>
                    <th>Sluittijd</th>
                    <th>Inschrijven</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="mensaeDtoList[page.toString()].length > 0">
                    <ng-container *ngFor="let mensaDto of mensaeDtoList[page.toString()]">
                        <tr [class.cancelled]="mensaDto.mensa.maxUsers <= 0 && mensaDto.enrollments <= 0">
                        <td>{{mensaDto.mensa.date | date:'EEEE d MMM HH:mm'}}</td>
                        <td>
                            {{mensaDto.mensa.title}}
                            <ng-container *ngIf="mensaDto.menuItems.length > 0">
                                <app-menu-collapse class="ms-1" [menuItems]="getMenuItems(mensaDto.menuItems)"></app-menu-collapse>
                            </ng-container>
                            <ng-container *ngFor="let option of mensaDto.extraOptions">
                                <div>
                                    <strong><u>Extra optie:</u></strong>
                                    {{option.description}} voor &euro;{{ option.price }}
                                </div>
                            </ng-container>
                            <div>Gekookt door: {{mensaDto.cooks.join(' en ')}}</div>
                        </td>
                        <td>&euro;{{mensaDto.mensa.price}}</td>
                        <td>
                            {{mensaDto.enrollments}} / {{mensaDto.mensa.maxUsers}}<br>
                            <ng-container *ngIf="mensaDto.dishwashers.length > 0">
                                {{mensaDto.dishwashers.length}} afwasser<span *ngIf="mensaDto.dishwashers.length > 1">s</span>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="mensaDto.mensa.maxUsers <= 0; else closingTimeBlock">
                                <span class="text-danger">Geannuleerd</span>
                            </ng-container>
                            <ng-template #closingTimeBlock>
                                <ng-container *ngIf="mensaDto.mensa.closed; else notClosedBlock">
                                    <span class="text-danger">Gesloten</span>
                                </ng-container>
                                <ng-template #notClosedBlock>
                                    {{mensaDto.mensa.closingTime | date:'EEEE d MMM HH:mm'}}
                                </ng-template>
                            </ng-template>
                        </td>
                        <td>
                            <div class="btn-group-vertical">
                                <ng-container *ngIf="shouldShowCancelledBlock(mensaDto.mensa); else signInOrClosedBlock">
                                    <span class="btn btn-primary disabled">Geannuleerd</span>
                                </ng-container>

                                <ng-template #signInOrClosedBlock>
                                    <ng-container *ngIf="shouldShowSignOutForm(mensaDto.mensa); else notSignedUpBlock">
                                        <form method="POST" class="btn-group-vertical" (ngSubmit)="signoutFormSubmit(mensaDto.mensa)" >
                                            <input type="submit" class="btn btn-danger" [class.disabled]="mensaDto.mensa.closed" value="Uitschrijven" [disabled]="mensaDto.mensa.closed" />
                                            <input type="hidden" name="id" [value]="mensaDto.mensa.id" />
                                        </form>
                                    </ng-container>

                                    <ng-template #notSignedUpBlock>
                                        <ng-container *ngIf="shouldShowSignUpBlock(mensaDto); else closedBlock">
                                            <a [routerLink]="['/signin', mensaDto.mensa.id, '']" class="btn btn-primary">Inschrijven</a>
                                        </ng-container>

                                        <ng-template #closedBlock>
                                            <span class="btn btn-primary disabled">Gesloten</span>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>

                                <ng-template #notSignedUpBlock>
                                    <a [routerLink]="['/mensa-details', mensaDto.mensa.id, '']" class="btn btn-primary">Bekijken</a>
                                </ng-template>

                            </div>
                        </td>
                        </tr>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="mensaeDtoList[page.toString()].length <= 0 && !isLoading">
                    <tr>
                        <td colspan="6">Er zijn geen mensae gevonden!</td>
                    </tr>
                </ng-container>

            </tbody>
          </table>
            <div *ngIf="isLoading" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div class="card-footer">
          <a [routerLink]="" (click)="getPage(tableNavigate.Previous)" class="float-start">&lt;&lt;</a>
          <a [routerLink]="" (click)="getPage(tableNavigate.Next)" class="float-end">&gt;&gt;</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
